CI_ENVIRONMENT = development

app.baseURL = 'http://127.0.0.1:8080/POS_AI/backend/public/'
app.indexPage = 'index.php'
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = pos_ai
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
